

<ul>
  <% @characters.each do |character| %>
    <li>
      <%= character.name %>
    </li>
    <li>
      <%= character.actor %>
    </li>
    <li>
      <%= character.description %>
    </li>
  <% end %>
</ul>
