<h3><%=TelevisionShow.find(params[:id]).title%></h3>

<ul>
  <% @characters.each do |character| %>
    <li>
      <%= " Character: #{character.name} Actor: #{character.actor} Description: #{character.description} " %>
    </li>

  <% end %>
</ul>
